*.zip
*.rar
*.tar
*.tgz
*.mp4
*.mp3
*.ts
*.avi
*.tar.gz
*.db
*.log
#*.png
*.jpg
*.wma
*.wav
*.pdf
etc/cache/*
PHP-FFMpeg-master/*
vendor/*
tmp/*
html/media/*
data/log/*
data/var/*
ovpn/*
bitbucket/*
FfmpegEffects_2.1.6.php
demo_ffmpeg_effects_lib.php